
<title>Toilet Paper, yay</title>

<script type="text/javascript" src="/static/jquery-1.4.2.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Inconsolata&subset=latin' rel='stylesheet' type='text/css'>
<style type="text/css">

body { 
	text-align:center; 
	font-family: 'Inconsolata', arial, serif;
	font-size: 26px;
   color: #000000;
	background: #FFFFFF;
	}

img {
	border-style:none;
	}

A:link, A:visited, A:active {
   text-decoration:none; 
	color: #3e5315;
}
A:hover { 
	text-decoration:underline; 
   color: #FCBE4B;
}


li { margin: 26px;}
</style>
