<!DOCTYPE html>

<html dir="ltr" lang="en-US">

<head>

    

    <meta charset="UTF-8" />

    <link rel="profile" href="http://gmpg.org/xfn/11" />

    

    <!-- SEO -->
    <title>Ready-Jane</title>

    <!-- Style Sheets -->
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" />

    <!-- JavaScript, should be placed in footer -->
    <script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="/static/js/easySlider1.7.js"></script>
    <script type="text/javascript" src="/static/js/general.js"></script>

</head>



<body class="home">

<div class="wrapper" class="hfeed">

    

    <div id="branding">

        <h1 id="logo"><a href="#">Ready-Jane</a></h1>

    </div>

    

    <div id="navMain">

        <ul>
            <li id="navHome" class="currentPage"><a href="#">Home</a></li>
            <li id="navPack"><a href="#">Packages</a></li>
            <li id="navAbout"><a href="#">About</a></li>
            <li id="navContact"><a href="#">Contact</a></li>
            <li id="navLogin"><a href="#">Login / Register</a></li>
            <li id="navCart"><a href="#">Your Package</a></li>
        </ul>

    </div>


    <div id="main">

        <div id="boxPromo">

            <img src="/static/images/box.png" alt="Package image" />

            <p class="bigButton">Build Your Package</p>

        </div>

        

        <div id="slider">

            <div id="boxTab">

                <ul id="tabs">

                    <li><a href="#"><img src="/static/images/feminine-care-package.jpg" alt="Feminine care package promo" /></a></li>

                    <li><a href="#"><img src="/static/images/feminine-care-package.jpg" alt="Feminine care package promo" /></a></li>

                    <li><a href="#"><img src="/static/images/feminine-care-package.jpg" alt="Feminine care package promo" /></a></li>

                </ul>

            </div><!-- #boxTab -->

        </div><!-- #slider -->

        

        <div id="container">

            <div id="content" role="main">

                <div id="widget1">

                    <h3 class="underline">Testimonials</h3>

                    <blockquote>

                        <p id="quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas 

eu lectus sit amet sem aliquam mollis. Proin pellentesque ante non eros dignissim id porta tortor tincidunt.</p>

                        <p><cite><a href="#">- Bill Gates</a></cite></p>

                    </blockquote>

                </div>

                

                <div id="widget2">

                    <h3 class="underline">About Ready Jane</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu lectus sit amet sem aliquam mollis. Proin pellentesque ante non eros dignissim id porta tortor tincidunt.</p>

                    <p class="button"><a href="#">Read More</a></p>

                </div>

                

                <div id="widget3">

                    <h3 class="underline">Featured Brands</h3>

                    <p class="button"><a href="#">Browse Catalog</a></p>

                </div>              

            </div><!-- #content -->

        </div><!-- #container -->

        

        <!-- <div id="primary" role="complementary">

            <h4 class="sidebarTitle">Sidebar</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nunc orci, convallis congue accumsan vel, faucibus eu enim. Curabitur luctus eros sit amet purus iaculis scelerisque.</p>

            <p>Nam porta fermentum urna, eget iaculis nulla ultricies eget. Nam eu augue dui, non convallis lectus. Mauris nunc augue, sagittis viverra pharetra sed, posuere vel lectus.</p>

        </div> --><!-- #primary -->

    </div><!-- #main -->

</div><!-- .wrapper -->



<div id="footer" role="contentinfo">

    <div class="wrapper">

        <div id="social">

            <ul>

                <li><a href="#">Facebook</a></li>

                <li><a href="#">Twitter</a></li>

            </ul>

        </div>

        

        <div id="site-info">

            <p>&copy; 2010 Ready-Jane, All Rights Reserved. | <a href="#">Privacy</a> | <a href="#">Contact</a></p>

        </div><!-- #site-info -->

    </div><!-- .wrapper -->

</div><!-- #footer -->



</body>
</html>
